.table-box-container {
  width: 100%;
  margin: 30px 0px;
  border-radius: 10px;
}

.table-container {
  border-top: 1px solid white;
}

.table-row {
  cursor: pointer;
}

.checked-icon {
  color: #8df929;
}

.unchecked-icon {
  color: white;
}

table {
  background-color: black;

  & .MuiTableCell-root {
    color: white;
  }

  & .MuiTableSortLabel-root:focus {
    color: white;
  }
  & .MuiTableSortLabel-root:hover {
    color: white;
  }
  & .MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
    color: white !important;
  }
}

.green-cell {
  color: #8df929 !important;
}
.red-cell {
  color: #ff0909 !important;
}

.pagination {
  background-color: black;
  color: white !important;
  border-bottom: 1px solid white;
}
